body {
    padding: 0;
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2e2e2;
    font-family: Verdana, sans-serif;
  }
  
  #main {
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 10px 10px 15px lightgrey;
  }
  
  #main h1 {
    margin: 20px 10px 0px 15px;
    padding: 0px 10px 30px 0px;
    font-size: 36px;
    font-weight: lighter;
    border-bottom: 1px solid #e2e2e2;
    color: #212121;
  }
  
  #main .wrapper {
    margin: 15px;
    display: flex;
    flex-flow: column;
  }
  
  .wrapper input {
    padding: 15px;
    width: 500px;
    background: #f1f1f1;
    border: none;
    font-weight: 600;
  }
  
  .wrapper.warn input {
    outline: 1px solid orange;
  }
  
  .wrapper.error input {
    outline: 1px solid red;
  }
  
  .wrapper label {
    font-weight: 600;
    color: #212121;
    font-size: 14px;
  }
  
  .wrapper p {
    width: 500px;
    font-size: 10px;
    display: none;
  }
  
  .wrapper.warn p {
    display: block;
    color: orange;
  }
  
  .wrapper.error p {
    display: block;
    color: red;
  }
  
  .wrapper button {
    margin: 10px 0px;
    padding: 20px;
    background-color: #96ffad;
    border: none;
    font-weight: 600;
    font-size: 15px;
    color: green;
    transition: all 0.1s ease-in-out;
  }
  
  .wrapper button:hover {
    background-color: #4caf50;
    color: white;
  }
  